{% extends "main/base.html" %}

{% block title %}Текстовые лекции{% endblock title %}

{% block content %}
    <h1>Текстовые лекции</h1>
    <img src="https://cdn-icons-png.flaticon.com/256/8307/8307546.png" alt="Математика" width=320px height=320px>
    <img src="https://cdn-icons-png.flaticon.com/256/8662/8662591.png" alt="Информатика" width=320px height=320px>
    <img src="https://cdn-icons-png.flaticon.com/256/7603/7603388.png" alt="Биология" width=320px height=320px>
    <!-- <img src="https://cdn-icons-png.flaticon.com/256/5483/5483711.png" alt="Химия" width=320px height=320px> -->
    <a class="btn btn-secondary w-25">Математика</a>
    <a class="btn btn-primary w-25">Информатика</a>
    <a class="btn btn-info w-25">Биология</a>
    <!-- <a class="btn btn-dark w-25">Химия</a> -->
{% endblock content %}
